.reward-detail-pin .s-item > div { margin:38px 0; }
.add-total-block{text-align: center;border: 1px dashed #ccc;padding: 10px 0}
.add-total-tip{
    font-size: 14px;
    margin: 0;
    text-align: center;
    line-height: 4px;}
.th-datepicker-block{
  .th-datepicker-range{
    position: relative;
  }
  .th-datepicker-tip{
    position: absolute;width:640px;z-index: 2;
  }
  .th-datepicker{
    display:inline-block; width:320px;min-height:270px;
  }
}
