.th-datepicker-block{
  .th-datepicker-range{
    position: relative;
  }
  .th-datepicker-tip{
    position: absolute;width:650px;z-index: 2;
  }
  .th-datepicker{
    display:inline-block; width:320px;min-height:270px;
  }
}
.re-rule{
  .re-rule-custom{
    &:after{
      display: block;
      position: absolute;
      content: '';
      width: 16px;
      height: 14px;
      background: url(/reward/images/reward_ico.png) no-repeat -164px -282px;
      top: 5px;
      left: 220px;
      z-index: 1;
    }
  }
}
